In [6]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple'''


a='hello my name is Prashant, joined PW skills to learn Data science'
print(a)

hello my name is Prashant, joined PW skills to learn Data science

In [8]:
b=[1, 2, 3 , 4 , 'sugarfree' ]
print (type((b)))

<class 'list'>

In [10]:
c= 3.14
print(c)

3.14

In [11]:
d=(1,2,3,[453,'pwskills'])
print(type(d))

<class 'tuple'>

In [24]:
'''Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.'''

var1 = '‘ ‘'
print(type(var1))


var2 = '[ DS ,ML, Python]'
print (type(var2))


var3 = [ 'DS' , '’ML’' , '‘Python’' ]

print(type(var3))



var4=1.

print(type(var4))
#var3=

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [32]:
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **'''


a= 5/6
print(a)  # / this divides


b=6%4  # % is used to denote reminder value

print(b)

c=10//3

print(c)  # // is used to dente whole number value of the division

d=2**8

print(d)
  # ** is used to denote exponential power

0.8333333333333334
2
3
256

In [33]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''


List= [1. , 345, 6.89, 'flower', 4, 5,  6, 7 , 8 , 'how are you doing']

print(len(List))

10

In [42]:

i=0
while i<len(List):
    print(List[i])
    print(type(List[i]))
    i+=1

1.0
<class 'float'>
345
<class 'int'>
6.89
<class 'float'>
flower
<class 'str'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>
8
<class 'int'>
how are you doing
<class 'str'>

## '''

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

'''
'''a=int(input(''))
b=int(input(''))



if a%b==0:
    print('number is divible')
else:   
    print('number is not divisible')
    '''
    
    
while a%b==0:
    print(a)

In [ ]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
'''

while 4%2==0:
    print(a)   # as per the output the it will be printed

In [59]:
'''


Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.


'''

list=[1,2,3.4,1,4,8,9,7,6,7,5,2,3,4,5,6,7,8,123,345,567,890,789,678,67]

for i in list:
 if i%3==0:
    print('number is divisible by 3')
 else:
        print('not divisible by 3')

not divisible by 3
not divisible by 3
not divisible by 3
not divisible by 3
not divisible by 3
not divisible by 3
number is divisible by 3
not divisible by 3
number is divisible by 3
not divisible by 3
not divisible by 3
not divisible by 3
number is divisible by 3
not divisible by 3
not divisible by 3
number is divisible by 3
not divisible by 3
not divisible by 3
number is divisible by 3
number is divisible by 3
number is divisible by 3
not divisible by 3
number is divisible by 3
number is divisible by 3
not divisible by 3

In [70]:
'''


Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.


'''


''' mutable data types are those data types whose value of indexes can be altered ,example:- list

    immutable data types are those data types whose value of index cannot be changed as it will 
    change the data type which python does not allow ,example:- string'''


k=[2,3,4,5,6,6]
i='string'

a=k[4]
print(a) # value got printed

ss=i[2]

print(ss) # value got printed here as well

k[4]='hello'
print(k) # value changed in list

i[2]='f'

print(i)   # error - 'str' object does not support item assignment

6
r
[2, 3, 4, 5, 'hello', 6]

TypeError: 'str' object does not support item assignment